/*=====================================================
                ANIMACIONES
======================================================*/

/* Hero flotante */

.hero-image{

    animation:float 5s ease-in-out infinite;

}

@keyframes float{

    0%{

        transform:translateY(0);

    }

    50%{

        transform:translateY(-15px);

    }

    100%{

        transform:translateY(0);

    }

}


/*=====================================================
            APARICIÓN DE SECCIONES
======================================================*/

.hidden{

    opacity:0;

    transform:translateY(60px);

    transition:

        opacity .8s ease,

        transform .8s ease;

}

.show{

    opacity:1;

    transform:translateY(0);

}


/*=====================================================
                HERO
======================================================*/

.hero-title,
.hero-description,
.hero-buttons,
.hero-image{

    opacity:0;

    transform:translateY(30px);

    transition:

        opacity .8s ease,

        transform .8s ease;

}

.hero-title.show,
.hero-description.show,
.hero-buttons.show,
.hero-image.show{

    opacity:1;

    transform:translateY(0);

}


/*=====================================================
            TARJETAS
======================================================*/

.service-card,
.why-card,
.plan-card,
.portfolio-card,
.process-card{

    transition:

        transform .35s,

        box-shadow .35s,

        border-color .35s,

        opacity .8s,

        translate .8s;

}


/*=====================================================
                BOTONES
======================================================*/

.btn{

    transition:

        transform .3s,

        box-shadow .3s,

        background-color .3s;

}